@media (min-width: 769px) {
    
    .container-1 .texto h1::after {

    content: "";
    display: inline-block;
    width: 45px; 
    height: 42px; 
    background-image: url('../Imagens/programacao.png'); 
    background-size: cover; 
    margin-left: 10px;
}
.container-1 img {

    box-shadow: none;
}
.materiais img {

    box-shadow: none;
    width: 25%;
    margin-left: 30px;
}
.materiais .texto {

    word-spacing: normal;
    width: 540px;
    height: 114px;
    margin-left: 44px;
    margin-right: 120px;
}
.materiais .image {

    width: 20%;

}
.materiais .texto h1 {

    height: 39px;
}

} 

@media (max-width: 768px) { 

    .container-1 .texto h1::after {

        content: "";
        display: inline-block;
        width: 45px; 
        height: 42px; 
        background-image: url('../Imagens/programacao.png'); 
        background-size: cover; 
        margin-left: 10px;
    }
    .container-1 img {
    
        box-shadow: none;
    }
    .materiais img {
    
        box-shadow: none;
        width: 25%;
        margin-left: 30px;
    }
    .materiais .texto {
    
        word-spacing: normal;
        width: 540px;
        height: 114px;
        padding-left: 60px;
        margin-left: 44px;
        margin-right: 120px;
    }
    .materiais .image {
    
        width: 250px;
    
    }
    .materiais .texto h1 {
        
        padding-left: 100px;
        width: 380px;
        height: 100px;
    }
    .materiais .texto p {

        padding-left: 100px;

    }
    article .texto {

        margin: auto;
        padding-right: 0px;
    }
    

}
